@import url(https://fonts.googleapis.com/css?family=Montez);

.App {
  text-align: center;
}

.Title {
  font-family: 'Montez', cursive;
  font-size: 60px;
  padding-top: 20px;
}

.Countdown {
  top: 12;
  right: 12
}

.xIcon {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg)
}